$background: #11111b;
$background_alt: #282831;
$background_alt: #1c1c26;
$foreground: #b8c1fe;
$transparent: #00000000;

$warning: #f38ba8;
$success: #a6da95;
$lead: #8bd5ca;

* {
  all: unset;
}

.control {
  background: $background;
  padding: 6px 4px;

  & scale trough {
    all: unset;
    border-radius: 10px;
    background-color: $background_alt;
    border: 10px;
    min-height: 20px;
    min-width: 250px;
    margin-left: 3px;
    & highlight {
      all: unset;
      background-color: $foreground;
      color: green;
      border-radius: 10px;
    }
  }
}

.icon {
  margin-right: 10px;
  border-radius: 50%;

  padding-left: 8px;

  font-size: 2rem;
  min-width: 35px;
  min-height: 45px;
  background-color: $foreground;
  color: $background;
}
.scale {
  min-width: 140px;
}

.system_layout {
  background-color: green;
}
