# ignore everything
/*

# except

.config/*
!.config/nvim
!.config/nvim-vim-script/
!.config/qtile/
!.config/neofetch/
!.config/kitty/
!.config/rofi/


!.wallpaper/
!.screenshots/
!.zshrc
!.gitignore
!.bashrc
!.p10k.zsh
!.vimrc
!README.md
!.p10k.zsh
