# multiple monitors config
# cherrybrown
xrandr --output VGA1 --brightness 1 
xrandr --output LVDS1 --brightness 1 
xrandr --output LVDS1 --mode 1366x768 --output VGA1 --mode 1440x900 --left-of LVDS1 

nitrogen --restore 
