$transparent: #00000000;
$altbackground: #a17dc4;
$background: #2c2640;
$foreground: #11131c;
$green2: #90ceaa;
$purple: #c296eb;
$yellow: #ecd3a0;
$green: #78dbaa;
$red: #dd6777;
$darkblue: #6490e4;
$orange: #eed4a1;
$text: #b2c5e0;

.body {
  padding: 2 5;
  background: $background;
  border-radius: 10px;
  // border: 1px solid $green;
}

.btn {
  background: $orange;
  color: $background;
  // border-top: 7px solid $orange;
  // border-bottom: 7px solid $orange;
}

.btn:hover {
  background: $green;
  color: $background;
}
